body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font: 14px/1.3em 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

main,
article,
header,
figure,
figcaption,
section,
footer {
    margin: 0;
    padding: 0;
}

.bio-container {
    margin: 0;
}

#bio {
    width: 470px;
    /*height: 470px;*/
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -235px 0 0 -235px;
    border: 1px solid #f00;
    text-align: center;
}

.bio-header img {
    height: 200px;
    width: 200px;
}

.bio-header h1 {
    margin: 0;
    padding-top: 10px;
    font: 45px/48px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
}

.bio-header h2 {
    margin: 0;
    padding-top: 10px;
    font: 30px/33px 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
}

.bio-content {

}

.bio-content p {
    margin: 0;
    padding-top: 10px;

}

.bio-footer {
    /*margin: 0;*/
    padding-top: 10px;
}

.bio-footer a {
    color: #26C17E;
}

/*
inner style
*/

.container {
    /*todo max width*/
    max-width: 900px;
    border: 10px solid chartreuse;
    padding: 40px 40px 0;
}

/*INFO SECTION */

/*about*/
#about {
    border: 1px solid #f00;
}

#about h2 {
    margin-top: 0;
}

/*education*/
#education {
    border: 1px solid #f00;
    margin-top: 40px;
}

.education {
    display: inline-table;
}

.education-year {
    /*width: 10%;*/
    background-color: #26C17E;
    float: left;
    position: absolute;
}

.education-year li {
    list-style-type: none;
}

.education-year ul {
    padding: 0;
    margin: 0;
}

.education-title {
    float: right;
    /*width: 90%;*/
    background-color: blue;
    border: 1px solid #f00;
}

#education h2 {
    margin-top: 0;
}

#education div {
    margin-top: 40px;
}

/*experience*/
#experience {
    border: 1px solid #f00;
    margin-top: 40px;
}

#experience h2 {
    margin-top: 0;
}

/*skills*/
#skills {
    border: 1px solid #f00;
    margin-top: 40px;
}

#skills h2 {
    margin-top: 0;
}

/*portfolio*/
#portfolio {
    border: 1px solid #f00;
    margin-top: 40px;
}

#portfolio h2 {
    margin-top: 0;
}

/*contacts*/
#contacts {
    border: 1px solid #f00;
    margin-top: 40px;
}

#contacts h2 {
    margin-top: 0;
}

/*feedback*/
#feedback {
    border: 1px solid #f00;
    margin-top: 40px;
}

#feedback h2 {
    margin-top: 0;
}