body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font: 14px/1.3em 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
    color: #000;
}

a {
    text-decoration: none;
}

main,
article,
header,
figure,
figcaption,
section,
footer {
    margin: 0;
    padding: 0;
}

.bio-container {
    margin: 0;
}

#bio {
    width: 470px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -235px 0 0 -235px;
    border: 1px solid #f00;
    text-align: center;
}

.bio-header img {
    height: 200px;
    width: 200px;
}

.bio-header h1 {
    margin: 0;
    padding-top: 10px;
    font: 45px/48px 'open_sansbold', 'Arial', 'Tahoma', sans-serif;
}

.bio-header h2 {
    margin: 0;
    padding-top: 10px;
    font: 30px/33px 'open_sansregular', 'Arial', 'Tahoma', sans-serif;
}

.bio-content p {
    margin: 0;
    padding-top: 10px;
}

.bio-footer {
    padding-top: 10px;
}

.bio-footer a,
.feedback-user-photo-description a {
    color: #26C17E;
}


/*
inner style
*/

.container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 1150px;
    margin-left: 292px;
}

/*INFO SECTION */

/*about*/
#about {
    border: 1px solid #f00;
}

.content {
    order: 2;
    max-width: 900px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
}

.content-text {
    margin: 0;
}

/*education*/
#education {
    margin-top: 40px;
    padding-bottom: 10px;
    border: 1px solid #f00;
}

#education article:nth-child(2n+1) {
    padding-top: 10px;
}

.education {
    display: inline-flex;
}

.education-year {
    width: 10%;
    margin: 0;
}

.education-year li {
    list-style-type: none;
}

.education-year ul {
    padding: 0;
}

.education-title {
    width: 90%;
    border: 1px solid #f00;
    margin: 0;
}

.education-title h4 {
    padding: 15px 15px 5px;
    margin: 0;
    font: 16px/19px 'open_sansbold', 'Arial', 'Tahoma';
}

.education-title p {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin: 0;
}

/*experience*/
#experience {
    border: 1px solid #f00;
    margin-top: 40px;
}

.experience-wrapper {
    display: flex;
}

.experience-wrapper:nth-child(2n+1) {
    border-top: 1px solid #f00;
    padding-top: 15px;
}

.experience-info {
    width: 30%;
}

.experience-info h4 {
    margin: 0;
    font: 16px/19px 'open_sansbold', 'Arial', 'Tahoma';
}

.experience h4 {
    margin: 0;
    font: 16px/19px 'open_sansbold', 'Arial', 'Tahoma';
    padding-left: 10px;
}

.experience p {
    margin: 0;
    padding-bottom: 15px;
    padding-left: 10px;
}

/*skills*/
#skills {
    border: 1px solid #f00;
    margin-top: 40px;
}

/*portfolio*/
#portfolio {
    border: 1px solid #f00;
    margin-top: 40px;
}

.portfolio-content-wrapper ul {
    margin: 0;
    padding: 0;
}

.portfolio-content-wrapper li {
    display: inline;
}

/*contacts*/
#contacts {
    border: 1px solid #f00;
    margin-top: 40px;
}

/*feedback*/
#feedback {
    border: 1px solid #f00;
    margin-top: 40px;
}

.test-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.feedback-wrapper {
    border: solid red 1px;
    margin-bottom: 30px;
}

.feedback-wrapper p {
    font: 12px 'open sans light';
    margin: 0;
    padding: 0;
}

.feedback-wrapper ul {
    margin: 0;
    padding: 0;
}

.feedback-wrapper li {
    list-style-type: none;
}

.feedback-user-photo {
    order: 2;
    width: 10%;
}

.feedback-user-photo img {
    height: 50px;
    width: 50px;
}

.feedback-area {
    margin: 0;
    padding: 15px;
    order: 1;
    width: 100%;
}

.feedback-user-photo-description {
    order: 3;
    width: 90%;
    align-items: center;
    display: flex;
}

/*
additional fonts style
*/
.content-head {
    padding-bottom: 50px;
    margin: 0;
    font: 25px/28px 'open_sansbold', 'Arial', 'Tahoma', 'sans-serif';
}


/*navigarion*/
#navigation {
    min-height: 100%;
    width: 250px;
    padding: 0;
    margin: 0;
    order: 1;
    border: 1px solid #f00;
    position: fixed;
    top: 0;
    left: 0;
}

.navi-photo img{
    height: 100px;
    width: 100px;
}

.navigation-header {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f00;

}

.navigation-menu {
    /*display: flex;*/
}

.navigation-menu ul{
    margin: 0;
    padding: 0;
}

.navigation-menu ul li{
   padding: 20px;
    /*border-top: 1px solid #f00;*/
    border-bottom: 1px solid #f00;
}

.navigation-footer {
    position: absolute;
    bottom: 20px;
    /*width: 100%;*/
    text-align: center;
}

.navigation-footer {
    border: 1px solid #f00;
    padding: 5px 15px;
    margin-left: 75px;
}
